@font-face {
    font-family: 'Poppins';
    src: url('@salesforce/resourceUrl/poppins/Poppins-Regular.ttf') format('truetype');
   

}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


.fade-out {
    animation: fadeOut ease 2s;
    -webkit-animation: fadeOut ease 2s;
    -moz-animation: fadeOut ease 2s;
    -o-animation: fadeOut ease 2s;
    -ms-animation: fadeOut ease 2s;
    background-color: #8a56ef;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-fill-mode: forwards;  /* stay at last frame after the fade out */
}

/*import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
 download This font to static resources and then use it  i dont have time for these things 
*/

.fade-in {
    background-color: #8a56ef;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .lightning-card {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
   */



.app-card {
  width: 100vw; 
  height: 100vh;
  }
  
  .slds-text-heading_large {
      font-weight: bold;
      color: #5e5e5e;
  }
  
  .slds-text-title {
      font-size: 1rem;
      color: #8b8b8b;
  }
  
  .img-class {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
  }

  .custom-heading {
    font-size: 50px; 
    text-align: center;
    margin: auto;
}

.custom-subtitle {
    font-size: 29px; 
    text-align: center;
    margin: auto;
}

p {
    color: black;
    font-size: 15px;
    padding: 10px;
}



.button-container {
    display: flex;
    justify-content: center;
}

.Register-Button{
    margin-top: 15px;
    text-align: center;
    align-items: center;
    background-color: #a90b0b;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* border-radius: 20px; */
    font-size: 1.9em;
    color: white;
}
.Register-Button:hover{
    color: white;
    background-color: rgb(4, 122, 24);
    box-shadow: 2px 2px 2px black;
}




.advtQuest {
    font-size: 2.2em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;   
}

.advtSol{
    font-size: 1.7em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.app-card-visible {
    position: absolute;
    top: 65px;
    transition: top 2s;
    padding-top: 15px;
    width: 100vw;  
    height: 100vh;
}



/* added padding top = 0 so if image doesn5t come remmber it*/
/* .slds-card{
    margin: 0;
   
   
} */

.slds-grid{
    background-color: white;
    
}

.navbar{
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 15px -10px rgba(0, 0, 0, 0.2);
}

.navbar li {
    float: left;
    position: relative;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0 16px 14px;
    text-decoration: none;
}

.navbar li.right {
    margin-left: auto;
    height: fit-content;
}

.navbar li.right a {
    font-weight: bold;
    padding-right: 60px;
}

.navbar ul li:hover > ul {            
    display: block;
    position: absolute; 
    min-width: 160px;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar ul li ul {
    display: none;
}

.navbar ul li ul li {
    float: none;
    position: relative;
}

.navbar ul li ul li a {
    padding: 16px;
    color: black;
}

/* aboutUs.css */

.about-section {
    background: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
   
    font-size: 12px;
    font-weight: 100px;
    font-family: poppins;
   

}
.about-left img{
    width: 420px;
    height: auto;
    transform: translateY(50px);
}
.about-right {
    width: 54%;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: #3e2093;
    font-size: 37px;
    margin-bottom: 5px;
}

.about-right p {
    color: #444;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: #e74d06;
}

.address .saprater {
    margin: 0 35px;
}

.about-right .expertise ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expertise h3 {
    margin-bottom: 10px;
}

.expertise .expertise-logo {
    font-size: 19px;
    margin-right: 10px;
    color: #e74d06;
}


.contactus{
    margin:0;
    padding:0;
    
    
    
  }

  .contactline{
    font-size: 2.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: #007bff;
  }
  .contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.3em;
    
    
}







.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #f7327a;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #f7327a;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #000;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links img{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #f7327a;
    border-color: #f7327a;
}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}

  

  /* Responsive CSS 12/05/24 */
@media only screen and (max-width: 600px) {
   
    .Register-Button{
      font-size: 1.2em;
    }
    
    .custom-heading {
      font-size: 30px; 
    }
    
    .custom-subtitle {
      font-size: 20px; 
    }
  
    .advtQuest {
      font-size: 1.5em;
    }
  
    .advtSol {
      font-size: 1.3em;
    }
  }


  /* DESIGN FOR REGISTRATION PAGE */

  .full-body{
    display: flex;
    height: 100vh;
}
.registration{
    height: max-content;
    width: 400px;
    border-radius: 16px;
    display: flex;
    background-color: #ebebeb;
    padding: 22px 30px;
    margin-left: 150px;
}

.content-on-rightside{
    width: 50%;
}



.textcontainer {
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.textcontainer h1 {
    color: rgb(0, 0, 0);
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

.input-group img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.input-group input {
    width: calc(100% - 50px);
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.button-group {
    
    width: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 14px;
}
.button-group a{
    margin: auto;
}

.register-button {
    text-align: center;
    width: max-content;
    padding: 8px 22px;
    font-size: 1.4em;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    border: none;
}


.register-button {
    background-color: #007bff;
}

.register-button:hover {
    background-color: rgb(11, 91, 197);
    box-shadow: 2px 2px 2px black;
}

.error-message {
    color: brown;
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.image {
    width: 24%;
}

.image img {
    height: 24px;
    width: auto;
}



/* 


.textcontainer{
    width: 450px;
    padding-top: 24px;
    padding-bottom: 24px;
}


.textcontainer  h1{
    color: rgb(0, 0, 0);
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px  solid   rgb(0, 0, 0);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.content-on-leftside{
    background-color: #e4e4e4e6; 
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;

}

.content-on-leftside input{
    margin-inline: 30px;
    width: 80%;
    font-size: 1.6em;
    height: auto;
    margin-top: 13px;
    opacity: 0.8;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.passwordIcon{
    height: 24px;
    width: 25px;
    margin-right: 10px;
}
.nameIcon{
    height: 24px;
    width: 25px;
    margin-right: 10px;
}
.emailIcon{
    height: 24px;
    width: 25px;
    margin-right: 10px;
}
.mobileIcon{
    height: 24px;
    width: 25px;
    margin-right: 10px;
}
.ConfirmPasswordIcon{
    height: 24px;
    width: 25px;
    margin-right: 10px;
}

.register-button{
    margin-top: 12px;
    text-align: center;
    align-items: center;
    background-color: #007bff;
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 1.5em;
    color: white;
}

.register-button:hover{
    color: white;
    background-color: rgb(11, 91, 197);
    box-shadow: 2px 2px 2px black;
} */


.login-Button{
    margin-top: 12px;
    text-align: center;
    align-items: center;
    background-color: #19007b;
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 1.5em;
    color: white;
}

.login-Button:hover{
    color: white;
    background-color: rgb(11, 91, 197);
    box-shadow: 2px 2px 2px black;
}

.image{
    width: 24%;
}

.image img{
    height: 24px;
    width: auto;
}

/*FOR CODE VERIFICATION PAGE*/
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 250, 250);
    margin: 0px;
    border-radius: 6px;
    padding: 50px;
}

.otp-field, .button-field {
    position: relative;
    left: 0;
    transform: none;
}

.slds-form-element__control input {
    width: max-content;
    font-size: 18px;
    font-style: bold;
    text-align: center;
}

.large-input input {
    height: 70px;
    font-size: 24px;
}




.outer-div{
    align-content: center;
    height: max-content;
    margin: auto;
    width: max-content;
}
.slds-modal{
    display: flex;
    max-width: max-content;
    max-height: max-content;
    margin: auto;
    align-items: center;
}
.slds-input{
    text-align: center;
    font-size: 18px;
}
.slds-button{
    display: flex;
    padding: 8px 14px;
}



@media only screen and (max-width: 1024px) {
    .registration {
        width: 100%;
        margin-left: 0;
    }
    .content-on-rightside {
        display: block; 
        width: 100%;
    }
  
}

@media only screen and (max-width: 768px) {
   
    .full-body {
        flex-direction: column;
    }
    .registration {
        width: 100%;
        margin: 0;
    }
    .content-on-rightside {
        display: block; 
        width: 100%;
    }

    .input-group {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        width: 75%;
    }

    .textcontainer h1 {
        font-size: 2em;
        width:60%;
    }
    .button-group {
        flex-direction: column;
        width:60%;
    }

    .button-group a{
        width:50%;
    }
    .content-on-rightside {
        display: block;
        width: 100%;
    }
}
@media only screen and (max-width: 575px) {
  
    .full-body {
        flex-direction: column;
    }
    .registration {
        width: 100%;
        margin: 0;
    }
    .textcontainer h1 {
        font-size: 2em;
        width:60%;
    }
    .button-group {
        flex-direction: column;
        width:60%;
    }

    .button-group a{
        width:50%;
    }
    .content-on-rightside {
        display: block;
        width: 100%;
    }

    .input-group {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        width: 70%;
    }

    
}


/* finishing touch abhishek  */


/* .whiteBackground {
    background-color: white;
} */

.contact-info img{
    height: 50px;
    width: 50px;
    
}