@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


.fade-out {
    animation: fadeOut ease 2s;
    -webkit-animation: fadeOut ease 2s;
    -moz-animation: fadeOut ease 2s;
    -o-animation: fadeOut ease 2s;
    -ms-animation: fadeOut ease 2s;
    background-color: #8a56ef;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-fill-mode: forwards;  /* stay at last frame after the fade out */
}

/*import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
 download This font to static resources and then use it  i dont have time for these things 
*/

.fade-in {
    background-color: #8a56ef;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .lightning-card {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
   */



.app-card {
    
   
  width: 100vw; 
  height: 100vh;
  }
  
  .slds-text-heading_large {
      font-weight: bold;
      color: #5e5e5e;
  }
  
  .slds-text-title {
      font-size: 1rem;
      color: #8b8b8b;
  }
  
  .img-class {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
  }

  .custom-heading {
    font-size: 50px; 
    text-align: center;
    margin: auto;
}

.custom-subtitle {
    font-size: 29px; 
    text-align: center;
    margin: auto;
}

p {
    color: black;
    font-size: 15px;
    padding: 10px;
}



.button-container {
    display: flex;
    justify-content: center;
}

.Register-Button{
    margin-top: 15px;
    text-align: center;
    align-items: center;
    background-color: #a90b0b;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* border-radius: 20px; */
    font-size: 1.9em;
    color: white;
}
.Register-Button:hover{
    color: white;
    background-color: rgb(4, 122, 24);
    box-shadow: 2px 2px 2px black;
}




.advtQuest {
    font-size: 2.2em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;   
}

.advtSol{
    font-size: 1.7em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.app-card-visible {
    position: absolute;
    top: 65px;
    transition: top 2s;
    padding-top: 15px;
    width: 100vw;  
    height: 100vh;
}



/* added padding top = 0 so if image doesn5t come remmber it*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 15px -10px rgba(0, 0, 0, 0.2);
}

.navbar li {
    float: left;
    position: relative;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0 16px 14px;
    text-decoration: none;
}

.navbar li.right {
    margin-left: auto;
}

.navbar li.right a {
    font-weight: bold;
    padding-right: 60px;
}

.navbar ul li:hover > ul {            
    display: block;
    position: absolute; 
    min-width: 160px;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar ul li ul {
    display: none;
}

.navbar ul li ul li {
    float: none;
    position: relative;
}

.navbar ul li ul li a {
    padding: 16px;
    color: black;
}

/* aboutUs.css */
.containeraboutus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .imageContaineraboutus img {
    width: 550px;
    height: auto;
    padding-right: 90px;
  }
  
  .textContent {
    /* margin-right: 35px; */
    text-align: center;
    width: 55%;
    /* padding-left: 40px; */
    color: rgba(0, 0, 0, 0.1);
  }
  

  /* Responsive CSS 12/05/24 */
@media only screen and (max-width: 600px) {
   
    .Register-Button{
      font-size: 1.2em;
    }
    
    .custom-heading {
      font-size: 30px; 
    }
    
    .custom-subtitle {
      font-size: 20px; 
    }
  
    .advtQuest {
      font-size: 1.5em;
    }
  
    .advtSol {
      font-size: 1.3em;
    }
  }
  
  
  